.Main {
    background-color: aliceblue;
    margin-top: 50px;
    text-align: center;
}

.Table{
    background-color: aqua;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;

}

td{
    padding:10px;
}


[data-toggle="modal"]{
    margin:15px;
}